{% if page.url == '/' or pagetype == 'page' %}
  {% set openGraphType = "website" %}
{% else %}
  {% set openGraphType = "article" %}
{% endif %}

<meta property="og:type" content="{{ openGraphType }}" />
<meta property="og:image" content="{{ featuredimage or (metadata.url + '/' + metadata.about.image) }}" />
<meta property="og:site_name" content="{{ metadata.title }}" />
<meta property="og:title" content="{{ title or renderData.title or metadata.title }}" />
<meta property="og:description" content="{{ summary or metadata.about.description }}" />
<meta property="og:url" content="{{ metadata.url + page.url }}" />

{% if openGraphType == 'article'  %}
  <meta property="og:article:published_time" content="{{ date }}" />
  <meta property="og:article:author" content="{{ author }}" />
  <meta property="og:article:tag" content="{{ tags }}" />
{% endif %}
